*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#eee;
display:flex;
flex-direction:column;
align-items:center;
}

header{
width:900px;
background:#111;
color:white;
padding:10px 20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:22px;
font-weight:bold;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

nav a:hover{
text-decoration:underline;
}
.container{
width:900px;
display:flex;
gap:10px;
margin-top:10px;
}

.left{
width:65%;
background:white;
padding:10px;
}

.right{
width:35%;
background:white;
padding:10px;
}

.story{
border-bottom:1px solid #ddd;
padding:8px 0;
}

.story:hover{
background:#f5f5f5;
cursor:pointer;
}

iframe{
width:100%;
border:none;
}

.map{
width:100%;
max-width:260px;
height:auto;
cursor:pointer;
margin-bottom:10px;
}

footer{
width:900px;
background:#111;
color:white;
text-align:center;
padding:15px;
margin-top:10px;
}